.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #74F288;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.boxTitle{
  display: block;
  background-color: #74F177;
  color: white;
  font-size:2vmax;
  max-width:30%;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  margin-bottom: 1vmin;
}


.Titlesh3{
  font-size:0.8vmax;
  font-weight:bold;
}
.Titlesh2{
  font-size:2vmax;
  font-weight:bold;
}

.map_result{
  font-size:0.8vmax;
}