.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #74F288;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.boxTitle{
  display: block;
  background-color: #74F177;
  color: white;
  font-size:2vmax;
  max-width:40%;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  margin-bottom: 1vmin;
}

.boxContent{
  max-width:75%;
  margin-left: auto;
  margin-right: auto;
}

.Titlesh3{
  font-size:0.8vmax;
  font-weight:bold;
}
.Titlesh2{
  font-size:2vmax;
  font-weight:bold;
}

.map_result{
  font-size:0.8vmax;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  left: 0;
  max-height:50%;
  width:15%; 
}


.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1vmax;
  width:100%;
  border-top: 0.1vmin solid white;
}


.navbar a:hover {
  background: #ddd;
  color: black;
}

#Contact{
  background: #74F177;
  width:100%;
  height:5vmin;
  font-size:3vmin;
  text-align: center;
  bottom: 0;
  color:white;
}