.MonthData{
  display: block;
  background-color: white;
  border: 2px solid #74F177;
  width:90%;
  height:90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.WeekData{
  display: block;
  background-color: white;
  border: 2px solid #74F177;
  width:90%;
  height:90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.WeeklyData_month{
  background-color: white;
  border: 2px solid #74F177;
  max-width:95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}
.WeeklyData{
  display: flex;
  flex-flow:row;
  font-size:1.5vh;
  border-top:1vh solid black;
}

.Month{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
}

.Months{
  margin-top:1vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}